APP_NAME=EV Recommendation API
APP_VERSION=0.1.0
DEBUG=false
LOG_LEVEL=INFO
DATASET_PATH=./dataset_v1
PRIMARY_PBF_PATH=./dataset_v1/map/raw/hanoi-patched.osm.pbf
GRAPHHOPPER_BASE_URL=http://127.0.0.1:8989
DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/ev_recommendation
DATABASE_URL_SYNC=postgresql://postgres:postgres@127.0.0.1:5432/ev_recommendation
